[2014-10-16 21:46] eibanez opened #1 "Add example database"
* [x] Take a public database and create a solution
* [x] Add input database to the package data
* [x] Add solution file to the package data
* [x] Update vignette to support the example
* [x] Add vignette to show processing of input file
* [ ] Write tests for both input and solution files

[2014-10-16 21:48] eibanez opened #2 "Option to weight by time to provide energy in sum_interval"

[2014-10-16 21:51] eibanez opened #3 "Support only RSQLite 1.0 and above"
- Search and remove all instances of `packageVersion("RSQLite")`
- Update DESCRIPTION file with (`RSQLite (>= 1.0)`)

[2014-10-16 21:57] eibanez opened #4 "Ability to process input files"
Should be easy if `process_xml` can read them

[2014-10-16 22:05] eibanez opened #5 "Include rplexos version in summary(db)"
It would make it easy to decide if they need to be updated.

[2014-10-23 22:04] eibanez opened #6 "Log parsing fails if file is too big"
[code]

Data should still parse, but no log data is included. Possible solutions:
- Capture parsing error and write nothing/empty into database (need to handle this is queries)
- Process log file in chunks
- Increase buffer size (?)

[2014-10-24 20:41] mhummon opened #7 "Problem reading binary data for interval results"
Error: Problem reading binary data for interval results (reached end of file)
  8760 values requested, 5551 returned.
  This is likely a bug in rplexos. Please report it.

This occurred while processing a WECC hourly result

[2014-10-27 13:43] #3 closed, assigned to eibanez

[2014-10-27 15:06] #6 closed, assigned to nobody

[2014-10-27 15:22] #5 closed, assigned to nobody

[2014-10-27 22:16] eibanez opened #8 "Parser fails if a generator is assigned to multiple regions"

[2014-10-27 22:21] #8 closed, assigned to nobody

[2014-11-05 20:38] #2 closed, assigned to nobody

[2014-11-06 15:41] eibanez opened #9 "Check compatibility with stringi 0.3-1"
Backward-incompatible changes:
- [IMPORTANT CHANGE] 87: `%>%` overlapped with the pipe operator from
    the `magrittr` package; now each operator like `%>%` has been renamed `%s>%`.
- [IMPORTANT CHANGE] 108: Now the BreakIterator (for text boundary
  analysis)
    may be better controlled via `stri_opts_brkiter()` (see options `type`
    and `locale` which aim to replace now-removed `boundary` an

[2014-11-13 05:03] eibanez opened #10 "Query in parallel"
To improve performance

[2014-12-03 04:48] #9 closed, assigned to nobody

[2015-01-27 18:38] #4 closed

[2015-01-27 20:30] eibanez commented on #7
Given that this is an issue with the zip routines in base R, I'm going to close this.

@davebiagioni we can keep working on this issue.

[2015-01-27 20:30] #7 closed

[2015-01-28 08:47] takje opened #12 "Time.range documentation"
When using large databases, it is difficult to get them in the memory as a whole. Therefore, I would like to subset my Plexos solution using rplexos. However, I can't get the most important subset item, time.range, to work.

On my own db, I tried the following command:
`PASA <- query_interval(db,"Generator",c("Installed Capacity"),phase=2, time.range=c('2014-01-01 0:00:00','2014-12-31 00:00:00'))`

[2015-01-28 12:22] takje opened #13 "DB problem in v0.12"
This morning I upgraded from v0.11 to v0.12. As recommended I regenerated my sql db. However, now `plexos_open()` gives a strange error:
`Error in sqliteSendQuery(con, statement, bind.data) :
  error in statement: file is encrypted or is not a database
Error in sqliteSendQuery(con, statement, bind.data) :
  error in statement: file is encrypted or is not a database`

Traceback:
[code]

However, th

[2015-01-28 14:33] takje commented on #13
I found what went wrong. Windows sometimes creates a file called thumbs.db. Since plexos_open searches in the folder for .db files it found this one and failed to open it as an sqlite db.

I suggest adding a regex to filter this one out. Or maybe more robust: use expected names for the solution files.

[2015-01-28 14:49] eibanez commented on #13
Good find. I might add a black list of .db filenames in case someone wants to rename the PLEXOS files.

[2015-01-28 14:50] eibanez commented on #12
Can you try using double quotes? The following works for me:

[code]

[2015-01-28 16:33] takje commented on #12
I tried
`PASA <- query_interval(db,"Generator",c("Installed Capacity"),phase=Phase_id, time.range=c("2014-02-02", "2014-03-03"))`
But it gave exactly the same error

If you look at traceback 42, you can see that my dates are transferred well, which can be checked with:
[code]

However, it is the time vector format where he complains about. It seems that it goes wrong when he tries to convert this

[2015-01-28 18:29] eibanez opened #14 "process_input fails if t_band doesn't exist"
Other tables might also be needed

[2015-01-28 22:52] eibanez commented on #12
What is the output of `sessionInfo()`?

[2015-01-28 22:55] #14 closed

[2015-01-28 23:02] #13 closed

[2015-01-28 23:15] eibanez commented on #12
Also, are you able to build the package from Github? I might have a quick fix for you to try.

[2015-01-29 04:26] eibanez commented on #12
Ok. I think I found a possible solution here: https://github.com/hadley/dplyr/issues/857

Can you run the following before your query?

[code]

[2015-01-29 08:38] takje commented on #12
Yeah, that last line solved the problem! Thanks a lot for the quick reply and fix.

[2015-01-29 14:54] eibanez commented on #12
Glad it did. I'm going to add that line to the package, until it gets fixed in dplyr.

[2015-02-05 13:53] rtosetto opened #15 "Filtering query"
Hello,
Thanks for the very useful package! It's helping us a lot.

Apparently the filter parameter in query_interval does not work when no time.range is specified.
Looking at the code it seems indeed that the filter_rplexos is not called if is.null(time.range).

Cheers,
Riccardo

[2015-02-05 14:07] takje commented on #12
I updated the version, but it still doesn't work without adding the line:
`escape.POSIXt <- dplyr:::escape.Date` myself. Could it be that the location where he reads the code is not processed?

[2015-02-05 14:24] eibanez commented on #12
I know what happened. I'll fix it.

[2015-02-05 14:27] eibanez commented on #15
I'll look into it, but it might take me a while. Feel free to take a stab at it if you feel comfortable.

[2015-02-05 14:47] takje commented on #12
Thanks!

[2015-02-05 14:55] takje commented on #15
I goes wrong in the function `query_master_each` in query.R.

At line 352-359, you have an if check to see if time.range is used. The filtering is in the same if, while it should be outside the if (to avoid that it is ignored when there is no time.range).

[2015-02-05 15:09] eibanez commented on #15
I see...

Looks like an easy fix then.

[2015-02-05 15:13] #15 closed

[2015-02-09 14:13] eibanez commented on #12
@takje: The last commit should fix it. Let me know if it still doesn't work after the next release (you can also build from the repo if you know how).

[2015-02-13 07:03] eibanez commented on #10
Basic description here:
http://michaeljkoontz.weebly.com/uploads/1/9/9/4/19940979/parallel.pdf

[2015-02-16 06:50] eibanez commented on #12
@takje Could you try if the newest version works for you? I'd like to get this working before the next CRAN submission. You can download the latest binary using the following commands:

[code]

[2015-02-16 15:45] takje commented on #12
I tried:
[code]
It gives an error when I load the package since I have an older r version, but sessionInfo() shows that I have RPlexos installed and loaded:

[code]

However, when I try to do a query, I still get an error.

[2015-02-17 14:28] takje opened #19 "[Feature] show progress for DB generation"
Eibanez,

Thank you for all the efforts you put in developing this package. Each day I use it more and more :-)

While the queries go very quickly (sometimes even faster than the Plexos solution viewer), one of the only steps that slows the workflow is the generation of the RPlexos sqlite DB. Typically, we generate solutions for big regions for a whole year of shortterm data. Combine this with lot

[2015-02-17 14:54] takje opened #20 "[Feature] summary function"
I made an R script that given a Plexos output generates some standard graphs. However currently I insert some data manually for each solution such as:
* ST begin and end date
* ST regions included
* MT begin and end date
* MT regions included
* PASA ...

I could do a general query instead, but this is dangerous since querying a large db at once can cause a memory overload. Therefore I was looking

[2015-02-17 15:17] eibanez opened #22 "Consolidate master checks into master_query"
It was used by multiple functions in the past, but now it's used by one

[2015-02-17 15:24] eibanez commented on #19
This is a tricky one. The progress bars in the queries are provided by the `dplyr` package automatically. I can check if they can be enabled in the data conversion piece, but they would only be updated once a database is done (an predictions would assume that they all take a similar time).

Othewise, it would be hard to pinpoint the total length of the conversion. Reading the binary files is typic

[2015-02-17 15:40] eibanez commented on #20
I'm afraid I'm not going to be able to help you much here. Useful summaries are very case and user dependent. For instance, standard generation graphs are interesting, but some people like to output "Generation" and other "Net Generation".

If you want to develop something, I'd be happy to review and incorporate, but I don't have the time to do this in the foreseeable future.

There is, however, a

[2015-02-17 15:42] eibanez commented on #10
This is failing on Windows. Might need to pass the listpackages to the clusters.

[2015-02-17 15:58] eibanez commented on #12
Ok, tried a different solution. Does this work?

[code]

[2015-02-17 16:34] eibanez commented on #19
I thought a little more about this and having a progress bar would interfere with the outputs that are already on screen (specially when turning on the debug mode).

I'm sorry, but I'm going to leave this one as is. If you can think of a better way and can implement it, I'll be happy to accept a pull request.

[2015-02-17 16:34] #19 closed

[2015-02-19 15:00] takje commented on #12
While the package depends on the package foreach now
[code]

It works when I load that package. Without using the line
[code]

[2015-02-19 15:15] eibanez commented on #12
Great! I'll close this for good then.

I'm implementing parallel queries, that's the reason for the new dependency.

[2015-02-19 15:15] #12 closed

[2015-02-19 15:23] takje commented on #12
Super, looking forward. How is it going to work? Parallel queries when I query for multiple properties using one single command?

[2015-02-19 15:25] eibanez commented on #12
It will allow to query multiple databases at once. It's especially useful when you divide a long simulation or are comparing multiple cases.

[2015-02-19 17:28] eibanez opened #23 "Option to process inputs in parallel"

[2015-02-24 22:36] eibanez opened #24 "Add shortcut to activate debug mode"

[2015-02-25 14:14] eibanez commented on #19
So, I reformatted some of the code to allow for parallel processing and there will now be a progress bar that updates after each database is finished.

[2015-03-09 17:01] takje commented on #20
Hi eibanez,

I actually meant functions such as getSamples(db), getRegions(db), getStepSize(db), getStartDate(db,phase), getEndDate(db,phase), etc.

I started to implement a very rough function myself. I tried to find queries that were as 'cheap' as possible in terms of DB queries, but maybe it is even better to do it once when the DB is generated and do then queries to a new table in the db calle

[2015-03-09 17:13] takje opened #25 "[Question] How to query samples"
Hi eibanez,

I'm trying to query samples. According to the help file this should be possible by adding a filter, but I can't get it to work. Could you maybe include some examples in the next version of Rplexos for the different filters? Sometimes it is hard to guess which format is required without starting to dig in the sql tables. E.g. the function getSamples(db) returns all the possible samples

[2015-03-09 19:07] takje commented on #25
I found a query which returns different samples, but there is no way to select them. The normal query (without filter) returns the samples as 'Mean', '1', '2', '3', ... However, no single input in the filter yields only one sample. I tried integers, numerics, characters, and combinations with the word 'sample'.

Any advice?

[2015-03-13 05:06] #24 closed

[2015-03-13 05:16] eibanez commented on #25
I tried and all these work for me:

[code]

[2015-03-18 05:13] eibanez opened #26 "Parse big log files"
This feature is currently disabled. See b67daf848e1615058d96684176a4bf727f1c7bbc.

[2015-03-18 18:41] eibanez commented on #20
The next version will have a series of functions to query some of the information that you are looking for.

The will be called: `query_time`, `query_band`, `query_phase`, `query_sample`, `query_timeslice`, `query_class`, `query_class_member`, `query_generator`, `query_region`, `query_zone`.

If there are other queries that you need you can use these as an example. You can send me a pull request i

[2015-03-18 18:41] #20 closed

[2015-03-18 18:43] eibanez commented on #25
The new function `query_sample` will return the correct samples that are available. Let me know if you still have problems.

[2015-03-18 18:43] #25 closed

[2015-03-18 19:35] eibanez opened #27 "unz and unzip cannot open files > 4GB"
Windows works correctly. Linux and Mac don't (at least our of the box).

Related to #7.

[2015-03-18 20:31] #22 closed

[2015-03-18 20:31] #10 closed

[2015-03-18 20:32] eibanez commented on #23
Done with the changes in #28

[2015-03-18 20:32] #23 closed

[2015-03-25 08:43] takje opened #29 "Error in query interval"
Hi,

I tried version 0.13 and everything looks great. I really love the new functions. However, I just ran the command:
[code]
and got the error
[code]
This is what the traceback looks like:
[code]
There is no join command in my code, so I assume that it happens somewhere in the function. Any idea how I can fix this?

[2015-03-25 08:46] takje commented on #29
Update: I get the same error now also for other Plexos solutions which previously worked. I think this could have been introduced in going from 0.12 to 0.13.

[2015-03-25 16:08] eibanez commented on #29
I think I know where this is happening. I will have to fix and resubmit. In the mean time, you might need to downgrade to 0.12.

[2015-03-25 17:26] takje commented on #29
Thanks for the fast reply. I got the old version from a colleague, but do you know why the v0.12 is not anymore on CRAN? Only the non-build version 0.12 is there.

And also, is it possible to have a note in the NEWS when you change something in the DB or use a different numbering for the DB version? Now it is difficult to guess if I should really update the solution DBs every time I use a new vers

[2015-03-25 21:07] eibanez commented on #29
I will try to keep a new entry in the NEWS file as I continue developing the package.

I have not been able to reproduce this error with my test data. It might have to do with the size of the query results. Is it possible for you to send me a copy of the database so I can diagnose the problem? You can post a link here or send to eduardo [dot] ibanez [at] nrel [dot] gov

[2015-03-27 15:55] takje commented on #29
Ok, thanks!

Sending the model will be difficult. It is not my model and there is quite some information in it. I asked, but they said that I was not allowed to send it. Are there maybe tests that I can do to find out where the problem lies?

[2015-03-30 14:16] eibanez commented on #29
Can you run the code here and let me know what gets printed on screen?

https://gist.github.com/eibanez/794021626bdbb7061ae3

[2015-03-30 14:53] takje commented on #29
I get an error saying:

[code]

Traceback:
[code]

[2015-03-30 15:00] takje commented on #29
Sorry, I was too fast and ran the code on the wrong folder. When running it in the right folder I get the old error:
[code]

Traceback:
[code]

[2015-03-30 16:27] eibanez commented on #29
Try the updated test function. What is the output?
https://gist.github.com/eibanez/794021626bdbb7061ae3

[2015-03-31 07:44] takje commented on #29
Hi,

No more error. Instead I get the following:
[code]

[2015-04-01 06:05] eibanez commented on #29
The problem is that cj2 and out3 should have the same length (and they don't). Even though there is no error, you might be getting incorrect results from your query.

I updated the gist above (revision 4). Can you rerun, show me what is printed on screen and send me the 4 CSV files that get created. I added a couple instruction that mask the generator names and the values (see lines 71-72). This w

[2015-04-01 08:25] takje commented on #29
I sent you the files via wetransfer. However, I replaced the write.csv commands with save() to save them as RData files which are much more compact and the writing goes much faster (I stopped when out.csv was more than 200MB). The output was (in case this is still relevant):
[code]

[2015-04-07 21:23] eibanez opened #30 "Limit the on-screen output when processing files"
At least when testing is in process

[2015-04-07 21:27] eibanez commented on #30
Parallel processing might note print output either, so need to be consistent

[2015-04-07 22:01] eibanez commented on #29
I got the files, but it's getting a little hard to debug. From earlier comments, it looks like you are querying multiple samples. Can you rerun the test query asking for more columns, e.g.:

[code]

[2015-04-08 10:33] takje commented on #29
Hi, I just sent you the new files. The output hasn't changed.

[2015-04-09 13:00] takje opened #31 "sum_year() queries are one year off when using time.range"
Hi,

Today I tried to do some yearly sums, when I noticed that sum_year is one year off.
What is in my solution file:
* 366 days of ST results (365 days in 2015 and one in 2016).

I first queried without time.range, hoping that I would have some column: 'year' on which I could then subquery, but it appeared that there was no such column (it was the sum over the two years). Then I tried the time.ra

[2015-04-09 14:36] eibanez commented on #31
Can you edit and add the actual queries that you are describing?

I think you are misunderstanding the use of the `sum_*` functions. To get results like in the PLEXOS GUI, use the `query_year` function.

`sum_year` only uses the year table. The results should be the same you get if you use `query_year` and then sum the results. To differentiate by year you have to add `"time"` to the `columns` arg

[2015-04-10 12:53] takje commented on #31
I tried to do both a query year and simultaneously sum over the categories. I looked more into depth and the results are at least peculiar. But I also think there is something wrong in the Plexos aggregation functions.

This is the code I ran:
[code]

And this is the result:
![image](https://cloud.githubusercontent.com/assets/6696142/7087861/f56f1f12-df8f-11e4-9bd9-f4814c3d3118.png)

Column a has

[2015-04-10 14:03] eibanez commented on #31
The fact that c through f are consistent shows that the sum functions in rplexos are working correctly.

I think this might be an issue of how you are applying the time filters (e.g., `'2030-12-31 24:00:00'` evaluates in R to the first hour in 2031). PLEXOS might have inconsistencies in the way the summary tables are created. When in doubt, use `query_interval` or `sum_interval`.

I'm closing this

[2015-04-10 14:03] #31 closed

[2015-04-21 14:07] BenjaminWatts commented on #29
Hey - does anyone else have a copy of v 0.12 they can share, my email is benjaminwwatts at gmail dot com!

[2015-04-21 14:39] eibanez commented on #29
I will try to push a fix to CRAN this week. I'm trying to fix and a couple other outstanding issues.

@takje Do you have the older binary file?

[2015-04-21 14:40] BenjaminWatts commented on #29
Great -- many thanks!

[2015-04-21 16:37] eibanez opened #32 "Consider using xml2"
Replace internal parser with `xml2`. This would eliminate the need to compile the code and would allow GitHub-only quick patches.

https://github.com/hadley/xml2/

[2015-04-21 16:39] eibanez commented on #32
Need to find a workaround for `expand_tkey` too.

[2015-04-21 21:56] eibanez opened #33 "Drop reshape2 and move to tidyr"
It will be better supported moving forward

[2015-04-22 05:37] eibanez commented on #31
I think I found a possible error with the sum functions and will be fixed in the next release. I also check and the time filter works as intended now.

[2015-04-22 05:53] #1 closed

[2015-04-22 05:53] #30 closed

[2015-04-22 06:54] eibanez commented on #29
@takje: I still have no clue what is happening here. Can you send me the results of the following queries? This will pull the results for a single generator, so I hope it's not an issue. You can mask the generator name if you want.

[code]

[2015-04-22 07:39] takje commented on #29
@eibanez: This is the code I ran:

[code]

I sent you the files again via wetransfer.

[2015-04-22 16:10] BenjaminWatts commented on #29
Hey - thanks for sharing the bin - unfortunately I didn't manage to get it
working, however I will look forward to hearing from you in the near future
- if you'd like a sample of the code - I'd be very happy to help,, just let
me know what you need , apologies I am a little new to R so some relatively
good instructions might help!

On 22 April 2015 at 08:39, Jef D <notifications@github.com> wrote:

[2015-04-22 16:12] eibanez commented on #29
@BenjaminWatts: v0.13 has a known error and an upcoming release will fix it

[2015-04-22 16:20] takje commented on #29
@BenjaminWatts: I copied the rplexos folder straight from the library. Therefore, check where you R library folder is on your computer. For me it is C:\Users\[username]\Documents\R\R-3.1.2\library, but it can be another folder on your computer, depending on where you installed it. In the library, replace the existing Rplexos folder with the one in the zip file. Updating via CRAN will overwrite the

[2015-04-22 19:18] eibanez commented on #29
@takje I think I fixed the error. Will you let me know if it persists on the next version? I'm planning on submitting to CRAN today.

[2015-04-22 19:20] #29 closed

[2015-04-22 19:29] eibanez opened #35 "Update function examples"
With the new sample datasets

[2015-04-22 19:51] eibanez opened #36 "Explore rxExec for parallelization"
http://blog.revolutionanalytics.com/2015/04/coarse-grain-parallelism-with-foreach-and-rxexec.html

[2015-04-23 12:39] takje commented on #29
@eibanez: I can confirm that the results are now as expected with no errors!

Small comment though on the latest submission. When I try to install the package via install.packages, I receive an error that the source is v1.0, but the binary is 0.13.
[code]
However, when I manually download the file from CRAN, there seems to be no problem.

[2015-04-23 14:15] eibanez commented on #29
Great! It takes 1-2 days for the binary sources to be available. Looks like it should work now for Windows.

[2015-04-24 09:38] BenjaminWatts commented on #29
It's working great now 0 many thanks!!! Really appreciated. Have a good
weekend

On 23 April 2015 at 15:15, Eduardo Ibanez <notifications@github.com> wrote:

--
Kind Regards,

Ben Watts

Tel: +44 7730 611821

[2015-05-01 05:05] #33 closed

[2015-05-01 05:20] eibanez commented on #36
The package is not in CRAN. Closing.

[2015-05-01 05:20] #36 closed

[2015-05-13 03:39] eibanez commented on #32
A lot slower than the current solution and reading from a connection failed.

[2015-05-13 03:39] #32 closed

[2015-06-04 18:55] hadley opened #37 "Issue with dev version of dplyr"
The unit tests fail with the development version of dplyr. Could you please take a look?

[2015-06-04 19:22] hadley commented on #37
The most likely cause is that dplyr 0.4.2 now doesn't object when you give it columns with attributes, instead doing it's best to preserve them

[2015-06-04 20:05] eibanez commented on #37
I will take a look. Thanks for the heads up, Hadley.

On Thursday, June 4, 2015, Hadley Wickham <notifications@github.com> wrote:

[2015-06-10 14:01] #37 closed

[2015-06-10 14:02] eibanez commented on #37
Fixed! I will include this in a future submission

[2015-06-10 14:11] hadley commented on #37
Thanks! Do you think you could submit this week? I'd like to get this version of dplyr to CRAN

[2015-06-10 14:17] eibanez commented on #37
I can do that. I'll submit by Friday at the latest.

[2015-06-10 14:39] #35 closed

[2015-06-11 16:44] eibanez commented on #37
@hadley, the revised version has been accepted to CRAN.

[2015-08-17 11:25] takje opened #38 "db file sizes"
Hi Eibanez,

When doing some big runs, I end up with Plexos solution files (.zip) that have a size of 900MB. Converting these to Plexos db files yields db files with a size of more than 5GB. Then I cancelled a lot of the reporting settings and now I have solution files of approximately 100MB. However, the Plexos db is still over 3GB in size. Since I decreased the size of the Plexos output file wit

[2015-09-09 08:35] BenjaminWatts opened #39 "Query Master Filters"
This is such a great package - it makes my life so much easier!

One thing I am trying to do at the moment is to pass filters dynamically to a query_master command, using the shiny app.

So I have a character vector in R with a list of the names of Generators or regions. Sometimes this will contain some values, sometimes it will be empty.

I'd like to pass this to a query master command and slot i

[2015-09-09 12:55] eibanez commented on #39
Use `filter = list(name = YourCharacterVector)`

[2015-09-09 12:57] eibanez commented on #38
There is some optimization in the way that some results are saved. It's possible that the "extra" reports that you are canceling are more efficient because of this.

[2015-09-09 12:57] #38 closed

[2015-09-09 13:09] BenjaminWatts commented on #39
Thanks ever so much - is there a wildcard I can use in place of  "YourCharacterVector"?

[2015-09-09 13:13] eibanez commented on #39
No, if you apply the filter you should have a vector with the actual strings that you want to use. If you don't want to apply that filter, I would check your vector first and apply a query with or without the filter.

[2015-09-09 13:13] #39 closed

[2015-09-09 13:27] BenjaminWatts commented on #39
Ah OK no worries.  Thanks!
On 9 Sep 2015 14:13, "Eduardo Ibanez" <notifications@github.com> wrote:

[2015-09-14 03:36] smith242 opened #40 "issues with plexos_open for input files"
Hi there I'm having some trouble opening input files. rplexos is processing the folder and creating the database file but when I try to open using plexos_open I get the following error:

Error: No databases found in the list of folders.
Did you forget to use process_folder()?

This seems to work fine for the solution file but not for the input. Can you please let me  know what I'm doing wrong?

Fo

[2015-09-14 03:43] eibanez commented on #40
rplexos only converts the input database to SQLite. You will have to come up with any queries you want on your own.

[2015-09-14 03:43] #40 closed

[2015-09-18 16:02] BenjaminWatts opened #41 "Query Specific Scenario"
Is there an easy way of querying a specific, or a few scenarios

Imagine something like this

query_year(db, Generator, Generation, filter = list(scenario = "High Wind")...

OR

query_year(db, Generator, Generation, filter = list(scenario =c("Low Wind", "High Wind"))...

[2015-10-09 07:51] danielsjf opened #42 "Categories in query_region"
Is it possible to add the category column when you query for the regions?

[2015-10-09 17:28] eibanez commented on #42
Jef, I switched jobs and I am not focusing on rplexos at the moment.

[2015-10-14 23:25] matt-marston opened #43 "Reading Split Execution Runs"
Is there a way to open zip files from a split execution run? Cheers

[2015-12-22 17:25] eibanez commented on #43
Yes. No reason why you could not do it.

[2015-12-22 17:25] #43 closed

[2015-12-22 17:26] eibanez commented on #41
You can subset `db` first and then query.

[2015-12-22 17:26] #41 closed

[2016-01-14 14:03] BenjaminWatts commented on #41
Hey -- thanks for this suggestion. What command would you use to subset the db - when I try using subset(db, scenario == x) or db[,1] then I the Type becomes tbl_df instead of rplexos, and so query_year rejects it?

[2016-01-14 16:56] eibanez commented on #41
try doing the following after subsetting:
[code]

[2016-01-21 20:27] tdeetjen opened #44 "Date-time format problems. Plexos output issue?"
I'm having a problem where the .db file created via process_folder() is incorrectly translating datetime data from Plexos.
In the Plexos results viewer, a piece of generation data might be tagged with 1/5/2014.
After using process_folder(), this data will be stored in the .db file with the time stamp 1/4/2014 00:00:00. (As if 00:00:00 is the last hour of the day).

However, whenever I open the \R\

[2016-01-21 21:01] eibanez commented on #44
Data is here: https://github.com/NREL/rplexos/tree/master/inst/extdata

I'm not actively developing the package so I cannot offer any assistance.

[2016-01-21 21:15] tdeetjen commented on #44
Do you have the load-timedata.csv and wind-timedata.csv needed to run the
simulation?

Thanks for responding - if I find a solution I'll put it on the github bug
page.

*Thomas Deetjen*
Mechanical Engineering
The University of Texas at Austin
Webber Energy Group
<http://www.webberenergygroup.com/people/thomas-deetjen/>
tdeetjen@gmail.com

On Thu, Jan 21, 2016 at 3:01 PM, Eduardo Ibanez <notificati

[2016-01-21 21:30] eibanez commented on #44
No

[2016-01-21 21:47] tdeetjen commented on #44
Thanks, Eduardo. I found a solution.

I compared my Horizon and Reports setup with what you had in the three_nodes.xml Plexos input file and made the following changes to my Horizon and Report settings to match yours:
Horizon:
Chrono Step Type: Day --> Hour
Look Ahead Type: Day(s) --> Interval(s)
Look Ahead Periods per Day: 6 --> 24
Report:
Output Results by Day: No --> Yes
Datetime Convention: En

[2016-03-04 01:38] peterparkerspicklepatch commented on #12
I'm still having this problem only it's manifested as `Error in UseMethod("escape") :
  no applicable method for 'escape' applied to an object of class "function"`

[2016-05-24 13:49] danielsjf opened #45 "process_xml.cpp fails on columns smaller than 3 characters (e.g. SoC)"
process_xml.cpp fails on columns smaller than 3 characters (e.g. SoC).

Error in substr.

I modified the cpp file and will try to do a push.

[2016-05-24 14:19] danielsjf commented on #45
I committed the changes to my repository. If you want you can do a pull.

[2016-07-01 08:48] danielsjf opened #46 "New dplyr version changes"
The new dplyr version changes some default behavior that breaks the rplexos code.
* rbind still works but will be depreciated in a future dplyr release. Therefore, as of version 0.5.0, this function will throw warnings.
* collect now only reads the first 100 000 lines by default. It is possible to change this by using the argument n=Inf. However, for now this will break some code.

[2016-07-01 10:16] danielsjf opened #47 "Log files are not processed"
The package throws a warning that log files are not processed. Enabling the debug mode shows the following error:

[code]

[2016-07-01 10:17] danielsjf commented on #46
I committed some changes to my own fork of the package that should solve these issues.

[2016-08-12 15:42] #46 closed

[2016-08-19 15:12] danielsjf commented on #46
@claytonpbarrows is it the goal to continue the package as a CRAN package? I saw that it was removed from CRAN recently.

[2016-08-19 18:43] claytonpbarrows commented on #46
That was the goal of some of the recent activity. However, I do not have the bandwidth to conform to the CRAN requirements. Therefore, I am inclined to commit the built package to this repository and forget about posting to CRAN.

[2016-08-22 08:47] danielsjf commented on #46
Could you send me the feedback? I will see if I have time to make potential small edits. Never uploaded anything to CRAN though so no idea if it would be a lot of work. But it would be a pity to not have it on CRAN.

[2016-08-22 13:41] claytonpbarrows opened #48 "Warning: Log in solution did not parse correctly."
base::assign(".ptime", proc.time(), pos = "CheckExEnv")
### Name: process_folder
### Title: Convert PLEXOS files to SQLite databases
### Aliases: process_folder process_input process_solution
### ** Examples
# Process the folder with the solution file provided by rplexos
location <- location_solution_rplexos()
process_folder(location)
Warning: Log in solution '/home/hornik/tmp/CRAN/rplexos.Rcheck/

[2016-08-22 13:42] claytonpbarrows opened #49 "Warning: Log in solution did not parse correctly."
base::assign(".ptime", proc.time(), pos = "CheckExEnv")
### Name: process_folder
### Title: Convert PLEXOS files to SQLite databases
### Aliases: process_folder process_input process_solution
### *\* Examples
# Process the folder with the solution file provided by rplexos

location <- location_solution_rplexos()
process_folder(location)
Warning: Log in solution '/home/hornik/tmp/CRAN/rplexos.Rchec

[2016-08-22 13:43] claytonpbarrows opened #50 "processing vignette ‘rplexos.Rmd’ failed"
# Process the folder with the input file provided by rplexos

location2 <- location_input_rplexos()
process_folder(location2)
Error in sqliteSendQuery(con, statement, bind.data) :
  error in statement: no such column: comp_collection
Calls: process_folder ... .local -> sqliteGetQuery -> sqliteSendQuery -> .Call
Execution halted
- checking for unstated dependencies in ‘tests’ ... OK
- checking test

[2016-08-22 13:44] claytonpbarrows commented on #48
duplicate of #49

[2016-08-22 13:44] #48 closed

[2016-08-22 13:45] claytonpbarrows commented on #46
I created new issues #49 and #50 that should cover all of the feedback that is pasted below:

[code]

[2016-08-22 16:17] danielsjf commented on #46
Could you add me as a collaborator to this repository or do you rather have that I keep submitting them to my own clone?

[2016-08-22 16:52] danielsjf commented on #49
I didn't solve the error, but I removed all the references to it in the building/testing of the package by CRAN. Something changed in the input files part. For some reason this fails currently. This gives an error so I removed all the examples and tests related to this.

At the moment, I get three errors when I test the package. These are all three in skip_on_cran() parts. This shouldn't be a prob

[2016-08-22 16:53] claytonpbarrows commented on #46
I have requested our IT department to add you. We don't typically get admin to our repos here...

[2016-08-22 16:56] danielsjf commented on #46
Ok, I just pushed all the changes to my repo. This should normally fix the issues related to the CRAN submission.

[2016-08-22 16:57] danielsjf commented on #45
@claytonpbarrows  Since you also included this one, you can close this issue.

[2016-08-24 18:44] claytonpbarrows opened #51 "examples lines wider than 100 characters:"
location_input <- location_input_rplexos() (for the moment, there is a bug in the input solution file)

[2016-08-24 18:45] #51 closed

[2016-09-21 19:35] jessemphillips opened #52 "Processing solution fails with other xml files present in the zipped solution"
For example, if binding contingencies diagnostics is also output as part of the solution, there will be another xml file in addition to the model solution. Processing the solution will produce an error like the following:

Error: Error reading XML file into memory

The error occurs at line 32 of **process_solution.R** where `grep("^Model.*xml$", zip.content$Name)` returns the first chronological x

[2016-09-28 08:02] danielsjf commented on #52
@jessemphillips I checked one of our solutions with diagnostic files and I didn't get this error. The grep command is referring to the contents of the zip, not the contents of the solution. As far as I can see, the diagnostic files only exist in the folder and not in the zip. Therefore, they shouldn't cause the problem.

Could you give me a list of the filenames inside your solution file?

[2016-09-28 13:24] jessemphillips commented on #52
Here is a screenshot of the contents of an example zip pulled from Connect.
![image](https://cloud.githubusercontent.com/assets/22353605/18914459/d7a60f08-8552-11e6-859d-c47ee2d3fc00.png)

In here, the binding contingencies xml is placed inside the zip along with the solution xml. The grep command runs into an issue where it catches the binding contingencies xml first and the read-in fails due to

[2016-09-29 08:41] #52 closed

[2016-11-14 13:47] #45 closed

[2016-11-14 13:47] #44 closed

[2016-11-14 13:48] #49 closed

[2016-11-14 13:48] #50 closed

[2016-11-14 13:49] danielsjf opened #53 "Fix old dependency in checking dates"
Warning:

    Warning message:
    hms, hm and ms usage is deprecated, please use HMS, HM or MS instead. Deprecated in version '1.5.6'.

[2016-11-14 14:07] #53 closed

[2017-01-02 17:08] danielsjf opened #54 "Add region info for batteries"
At the moment, there is no region info for batteries.

[2017-01-02 17:51] #54 closed

[2017-01-04 08:46] #47 closed

[2017-01-04 08:47] danielsjf opened #55 "Fix dependencies for RSQLite > 1.1"
New version broke rplexos

[2017-01-04 08:49] danielsjf commented on #55
Fixed with commit 7416bc4f07d495ac9c95202ab48df2dd1f5d69f6

[2017-01-04 08:49] #55 closed

[2017-01-04 09:54] danielsjf commented on #55
@claytonpbarrows I've recently done some modifications to update the rplexos package. A full list of the updates is in news.md. Would it be possible to update the CRAN version? If not, I am always willing to take over the CRAN maintainer role.

[2017-01-09 14:01] jhoncr opened #56 "Problem processing a large solution file (.zip)"
process_solution(location_solution)
*** rplexos debug:   - Solution: 'results.zip'
*** rplexos debug: Reading XML file and saving content
*** rplexos debug:    PLEXOS version:  '7.400 R01 Gold '
*** rplexos debug:    rplexos version: '1.1.10'
*** rplexos debug: Adding extra tables to the database
*** rplexos debug:    t_key has    462844 rows
*** rplexos debug:    temp_key has 462844 rows
*** rple

[2017-01-09 15:01] danielsjf commented on #56
Yes I had this problem as well for some DBs. Not sure yet what the problem might be. Could you share the db? I cannot guarantee that I can solve it though. But if you want to investigate it yourself, I can always accept a pull request.

[2017-01-09 15:02] danielsjf commented on #56
Could also be related to #27 if you're on a Unix system.

[2017-01-09 16:28] jhoncr commented on #56
Ok, I'm running it on a Win64 environment. Where is the warning coming from? Do you have the same warning proceeding the same problem?

[2017-01-09 17:26] danielsjf commented on #56
The error message is generated from the code here: https://github.com/NREL/rplexos/blob/de84e8bd90b32b88b2b1b59ac7ecdde4dd9079c6/R/process_solution.R#L272

I am not the original developer of the code, but this is how I understand it. In the Plexos solution.zip, you have a few files. One is an xml, the others are binary files for the various aggregations (interval, day, week, month, year,...). Rple

[2017-01-10 15:31] danielsjf opened #57 "Log processing does not work for LT solutions"

[2017-01-10 17:36] #57 closed

[2017-01-11 23:13] claytonpbarrows commented on #55
@danielsjf You have my permission to takeover the CRAN maintainer role. I'm currently unable to devote any time to this.

[2017-01-16 22:17] claytonpbarrows opened #59 "process_solution() does not process folder in the format *Solution (1).zip"
If 2 or more same-name PLEXOS simulations are running at the same time, the log files and associated solution files will get a numbered ending in parentheses corresponding to the order in which they are run. This causes rPLEXOS to fail to recognize the zip file as a PLEXOS solution file. I'll add more documentation when I can.

[2017-01-17 02:18] claytonpbarrows commented on #59
[code]

[2017-01-19 15:13] danielsjf opened #60 "Built fails on Linux (rplexos 1.11)"
https://cran.r-project.org/web/checks/check_results_rplexos.html

[2017-01-19 15:16] danielsjf commented on #59
This is due to the fix for #52. The regex was too constraining. I will fix this.

[2017-01-19 15:43] danielsjf commented on #59
@claytonpbarrows I've tried to fix the issue. Could you try if it works on your solutions? By the way, the new rplexos version does not compile on Linux (#60). Did you see similar issues with the previous builds? If not, do you maybe have a Linux version available to investigate this?

[2017-03-02 16:07] bradystoll opened #61 "Functions query_time, query_generator, query_sql gone"
These functions (among others) exist in version 1.1.11 and are gone in 1.1.12. I can't seem to find where they were deleted and why @danielsjf ?

[2017-03-02 16:46] danielsjf commented on #61
@bradystoll they are available in the namespace: https://github.com/NREL/rplexos/blob/master/NAMESPACE

Also, if I browse through the package documentation, I can see them there. In any case nothing was removed on purpose.

Could you give more information on what you mean with gone?

[2017-03-02 16:52] danielsjf commented on #61
In the latest github version, the examples of query_sql() also seem to work.

[2017-03-02 17:03] bradystoll commented on #61
Ah, I believe that is the issue. I had updated to the version 1.1.12 right before it was removed from cran. When I installed the github version those functions still appear to work. Thanks for the clarification

[2017-03-02 17:03] #61 closed

[2017-03-02 17:07] danielsjf commented on #61
@bradystoll yes the CRAN remove is quite unfortunate, but it is due to issues with the linux builds. I cannot reproduce them since I don't have a linux environment available.

It is strange that you got 1.1.12 from CRAN since the latest version there is 1.1.11. Maybe it was a buggy github version :-)

[2017-03-02 18:07] bradystoll commented on #61
Gotcha. Good to know!

[2017-08-21 18:03] danielsjf opened #62 "Package upgrades throw many errors"
dplyr doesn't recommend the usage of src_sqlite anymore. Instead, the dbConnect function of DBI should be used directly. The old functionality should still work, but throws a massive amount of messages in practice (auto-disconnecting sqliteconnection).

[2017-08-21 18:18] #62 closed

[2017-08-30 08:21] monnedepraetere opened #63 "Package ‘rplexos’ was removed from the CRAN repository"
See [https://cran.r-project.org/web/packages/rplexos/index.html](url)

[2017-08-30 08:35] monnedepraetere commented on #63
Also, I have downloaded the .gz file from the archive at CRAN and tried installing it directly (am using R version 3.4.1) using following command:

`install.packages("C:\\Users\\rplexos_1.1.11.tar.gz",repos = NULL, type = "source")`

which resulted in following error:

`ERROR: dependencies 'Rcpp', 'dplyr', 'RSQLite', 'DBI', 'data.table', 'tidyr', 'lubridate', 'stringi', 'doParallel', 'foreach' are

[2017-08-30 09:32] danielsjf commented on #63
@monnedepraetere Yes that it very unfortunate. It is related to issue https://github.com/NREL/rplexos/issues/60. There is a bug in rplexos on Linux and until this is resolved, they won't accept it anymore on CRAN. Unfortunately I don't have a Linux distribution available for testing.

The bug you get is probably due to missing dependencies. You can just install those packages from CRAN. Alternativ

[2017-09-01 14:33] danielsjf commented on #60
@claytonpbarrows Do you know how I could contact the owner of the NREL organisation? I would like to get administrator right on this repository. Via AppVeyor, I could test the builds on linux too. Unfortunately I cannot make AppVeyor work if I don't have the administrator rights.

[2017-09-01 14:35] danielsjf commented on #60
@NRELAdmin Would it be possible to grant me administrator rights on this repository? As mentioned above, I would like to try AppVeyor to test on Linux to resolve an issue. Unfortunately I can only use AppVeyor when I'm an administrator.

[2017-09-04 11:58] monnedepraetere commented on #63
Thanks a lot, @danielsjf that worked!

[2017-09-04 11:58] #63 closed

[2017-09-05 20:35] claytonpbarrows commented on #60
@danilsjf if you can't get admin rom NREL, let me know how I can help.

[2017-09-06 22:06] claytonpbarrows commented on #60
@danielsjf the build in commit 3d5499ced54049d0f57c9b93028359feb37dcb82 is successful on linux, but the unit_tests still fail:

[code]

[2017-09-06 22:06] #60 closed

[2017-09-07 09:30] danielsjf commented on #60
@claytonpbarrows NRELAdmin doesn't seem to respond. Do you know how I could contact the admin directly via an email address?

Could you specify which unit tests fail and with which error messages? Also, I think that the linux version did build before, but the checks were not all positive.  Could you post the results of `devtools::check()`

[2017-09-07 14:40] claytonpbarrows commented on #60
[code]

[2017-09-07 15:05] danielsjf commented on #60
Thanks. I'll investigate this.

[2017-09-07 17:03] claytonpbarrows commented on #60
I was able to fix the package dependencies for the testing process in 8210b8d14f7edccc5f337263e521e8471030e3ec, and the previous commit solves one of the tests, but several tests still fail:

[code]

[2018-10-22 16:26] monnedepraetere opened #64 "'process_folder' crashes with Plexos 7.5 solution file"
I have used rplexos extensively to extract results files created by Plexos 7.3. (Thanks for developing this very useful package!) While trying to run `process_folder` on results of a 7.5 model run, I get the following error:

`Error in { : task 1 failed - "no such column: p.year"`

It seems like the database structure has changed between 7.3 and 7.5 and that may trip up rplexos? Note that I am run

[2018-10-24 10:04] monnedepraetere commented on #64
Update: I now encountered the same issue while processing solutions from Plexos 7.3, so it seems like this is not an upgrade issue. More likely, it seems like we are reporting additional properties that rplexos can't process. Will report back once we found out more.

[2018-10-24 10:27] danielsjf commented on #64
Yes this has been an issue since a while. It is solved. Are you using the latest version from Github?

[2018-10-24 10:29] danielsjf commented on #64
To be really precise, this commit solved it 4a674090bce937e206db17ad897cd2f934ff5b17

Therefore it happened since 7.5R01

[2018-10-24 13:07] monnedepraetere commented on #64
Thanks so much @danielsjf, that indeed solved it!

[2018-10-24 13:08] #64 closed, assigned to nobody

[2019-06-27 05:02] rajku209 opened #65 "unable to install rplexos in R 3.6.0 )"
unable to install rplexos  in  R 3.6.0 , throwing error as below:
package ‘rplexos’ is not available (for R version 3.6.0)

[2019-06-27 07:00] rajku209 commented on #65
able to run in R 3.1.3

[2020-05-13 23:27] jennielu92 opened #66 "process_solution not working with PLEXOS v8.2R01"
process_solution does not seem to work with the newest version of PLEXOS, v8.2R01. I get this error:

Error: $ operator not defined for this S4 class

In debugging with the source code, it seems like it originates in the function correct_length() although I'm not sure if that's the only issue, or just the first one.

[2020-05-14 14:32] jennielu92 commented on #66
Not sure it's advisable, but I turned off the correct_length() check and now got this error:

Error: Problem reading interval binary data (reached end of file).   720 values requested, 390 returned.   This is likely a bug in rplexos. Please report it.
--
 

[2020-07-17 02:39] #26 closed

[2020-07-17 02:39] #27 closed

[2020-08-09 21:37] samjohnson12 commented on #66
I had this same issue, but this repository hasn't been pushed to since 2017 so...... Please post here if you find a solution though!

[2021-01-14 01:21] mattirish opened #67 "Consider changing the default behavior of tie breaking to keep the first record instead of the last"
Brady Cowiestoll (I don't know your username, sorry!) suggested we change the default global option rplexos.tiebreak to "first" instead of "last".

I might consider making this change when merging the h5plexos-enabled rplexos I've been working on in a fork of this repo, so this is a reminder to do that.

[2021-01-14 01:27] mattirish commented on #66
Hey @jennielu92 and @samjohnson12, we encountered the same issue and I'm not sure what the package's original developer, @eibanez is up to these days, so I cloned this repo and rewrote its query functions to query HDF5 databases created in Julia using [NREL/H5PLEXOS.jl](https://github.com/NREL/H5PLEXOS.jl) instead of SQLite databases. This allows us to a) access solutions created with PLEXOS v8.2

[2021-01-14 01:28] mattirish commented on #66
Just a note that it's still under development, but we've successfully been using it for a few projects at NREL for the past six months or so.

[2021-01-15 15:34] samjohnson12 commented on #66
Thanks @mattirish, I was able to find a fix by rolling back to an earlier version of PLEXOS but I'll pass this on to a colleague who is still using PLEXOS. Glad to hear there's an updated solution!

[2021-06-17 16:27] whiphi92 commented on #66
Hi @mattirish, I'll be trying this out soon! Thanks for the heads up on this.